body{
    background-color: #EAFDCF;
}


parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .Create {
    border: black solid 1px;
    border-radius: 5px;
    margin-right: 20vw;
    margin-left: 20vw;
    margin-top: 2vh;
  }
  .create-box {
    display: flex;
    margin: 5px;
    justify-content: center;
    font-size: 30px;
  }
  .input {
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 3vh;
    margin: 10px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  button{
    width: 10vw;
    height: 4vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  
  